<ng-container *ngIf="show$ | async as show">
  <app-slider [slides]="[show]" [isHeader]="true"></app-slider>
</ng-container>
<p-tabView>
  <p-tabPanel header="Overview">
    <p>Lorem ipsum dolor sit amet...</p>
  </p-tabPanel>
  <p-tabPanel header="Videos">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium...
    </p>
  </p-tabPanel>
  <p-tabPanel header="Photos">
    <p>At vero eos et accusamus et iusto odio dignissimos...</p>
  </p-tabPanel>
</p-tabView>
<p>The Movie ID is : {{ showId }}</p>
<pre>
  {{ show$ | async | json }}
</pre>
