<div class="banner container">
  <div class="grid">
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
    <div class="col-2">
      <app-show-item></app-show-item>
    </div>
  </div>
</div>
